@import "../utils/vars";

.lorem{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
&__icon{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $teamColor;
    border-radius: 4px;
   
}
&__headline{
    font-weight: 700;
  font-size: 14px;
  line-height: 1, 17; 
}
&__text{
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1, 71;
    color: $textloremColor;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 4);
}

}