$logoColor:#2196f3;
$mainColor:#212121;
$headerBorder:#ECECEC;
$activeColor:#2196f3;
$teamColor:#f5f4fa;
$textloremColor:#757575;
$spiritColor:#afb1b8;
$footerColor:#2f303a;
$namefooterColor:#fff;
$nameheaderColor:#000;